* {
    background-color: lightgray;
    font-family: "Alan Sans", sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

.splashscreen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.column:hover {
    background-color: darkgray;
    cursor: pointer;
}

.column {
    margin: 20px 30px 20px 30px;
    padding: 50px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 70px;
}

.ships {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 150px;
}

.ship {
    padding: 20px 40px 20px 40px;
    border: 2px solid black;
    border-radius: 20px;
    /*position: absolute;*/
}

.ship:hover {
    background-color: darkgray;
    cursor: grab;
}

.next {
    display: flex;
    justify-content: center;
}

.guide {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

#next-label {
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
}

#next-label:hover {
    background-color: darkgray;
    cursor: pointer;
}

#cruiser {
    background-image: url("../images/cruiser.png");
    background-size: cover;
}

#battleship {
    background-image: url("../images/battleship.png");
    background-size: cover;
}

#boat {
    background-image: url("../images/boat.png");
    background-size: auto;
}
