* {
    background-color: lightgray;
    font-family: "Alan Sans", sans-serif;
}

.grid {
    display: flex;
    justify-content: center;
}

.splashscreen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.column:hover {
    background-color: darkgray;
    cursor: pointer;
}

.column {
    margin: 20px 30px 20px 30px;
    padding: 70px 70px 70px 70px;
    border: 2px solid black;
}